<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/plan.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
</head>

<body>
<form th:action="@{/user/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home Page</button>
</form>

<div class="container">
    <div class="plan-table" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span sec:authentication="name"></span>, here's your personal Diet Plan!
            </div>
            <div th:if="${resultItems != null}" class="panel-body">
                <table id="example" class="table table-bordered" style="width: 100%; table-layout: fixed">
                    <thead>
                    <tr>
                        <th></th>
                        <th th:each="dayName : ${dayNames}">
                            <span th:text="${dayName.name}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="resultItemsPerMeal : ${resultItems}">
                        <td th:text="${resultItemsPerMeal.get(0).getMealType().name}"></td>
                        <td th:each="mealItem : ${resultItemsPerMeal}">
                            <div th:text="${mealItem.getRecipe().getLabel()}"></div>
                            <div>
                                <form th:action="@{/user/plan/showDetails}" method="post" target="_blank">
                                    <input type="hidden" name="url"
                                           th:value="${mealItem.getRecipe().getExternalLink()}">
                                    <button name="Submit" type="Submit">Recipe Details
                                    </button>
                                </form>
                                <br>
                                <a th:href="@{/user/plan/reload(id=${mealItem.getId()})}">Try
                                    again</a>
                                <br>
                                <a th:href="@{/user/plan/choose(id=${mealItem.getId()}, mealId=${resultItemsPerMeal.get(0).getMealType().getId()})}">Let me choose</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="edamam-badge" data-color="white"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>

