<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/user/weight/history}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Weight History</button>
</form>
<br/>
<div class="container">
     <form th:action="@{/user/weight}" method="POST" class="form-signin">
        <h3 class="form-signin-heading">Add new weight</h3>
        <br/>
         <div th:object="${latestWeight}">
             <label>Current weight (kg):
                 <input type="number" th:field="*{weight}" min="0" max="200" step="0.1"/><br/>
                 <label th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
                        class="validation-message"></label>
             </label>
             <br/><br/>
             <label>Weighting date:
                 <input type="datetime-local" th:field="*{weightingDate}"/><br/>
                 <label th:if="${#fields.hasErrors('weightingDate')}" th:errors="*{weightingDate}"
                        class="validation-message"></label>
             </label>
         </div>
         <br/><br/>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Save weight</button>
    </form>
</div>
</body>
</html>