<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Details Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/details.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/user/home}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Home</button>
</form>
<br/>

<div class="container">
    <form th:action="@{/home}" method="post" class="form-signin" th:object="${userDetails}">
        <h3 class="form-signin-heading">User Details</h3>
        <input type="hidden" name="id" value="${id}"/>
        <label>Gender:</label>
        <div th:each="gender: ${genders}">
            <div>
                <input type="radio" th:field="*{gender}" th:value="${gender.id}">
                <label th:text="${gender.name}"></label>
            </div>
        </div>
        <br/>
        <label>Age:</label>
        <input type="number" th:field="*{age}" min="0" max="150" step="1"/><br/>
        <br/>
        <label>Height:</label>
        <input type="number" th:field="*{height}" min="0" max="200" step="1"/><br/>
        <br/>
        <label>Dream weight:</label>
        <input type="number" th:field="*{dreamWeight}" min="0" max="200" step="0.1"/><br/>
        <br/>
        <div>
            <label>Activity Level:
                <div>
                    <select th:field="*{activityLevel}">
                        <option th:each="level : ${activityLevels}"
                                th:text="${level.name + ' - ' + level.description}"
                                th:value="${level.id}">
                    </select>
                </div>
            </label>
        </div>
        <br/>
        <div>
            <label>Cuisine Type:
                <div>
                    <select th:field="*{cuisineType}">
                        <option th:each="type : ${cuisineTypes}"
                                th:text="${type.name}"
                                th:value="${type.id}">
                    </select>
                </div>
            </label>
        </div>
        <br/>
        <div>
            <label>Health and allergies:
                <div>
                    <select th:field="*{healths}" multiple="multiple" size="10">
                        <option th:each="health : ${healths}"
                                th:text="${health.name}"
                                th:value="${health.id}">
                    </select>
                </div>
            </label>
        </div>
        <br/>
        <div>
            <label>Diets:
                <div>
                    <select th:field="*{diets}" multiple="multiple" size="4">
                        <option th:each="diet : ${diets}"
                                th:text="${diet.name}"
                                th:value="${diet.id}">
                    </select>
                </div>
            </label>
        </div>
        <br/>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Add User Details" type="Submit"
        >Save User Details
        </button>
    </form>
</div>
</body>
</html>