<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="Welcome"></span> <span sec:authentication="name"></span>
            </div>
            <div th:if="${userDetails == null}" class="panel-body">
                <div>What is your dream weight?</div>
                <br/>
                <div>
                    <ul>Let us know you better so that we can:
                        <li>suggest you a diet plan that suits your needs</li>
                        <li>show you when you will achieve your dream weight</li>
                    </ul>
                </div>
                <form th:action="@{/user/details/add}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Add User Details
                    </button>
                </form>
            </div>
            <div th:if="${userDetails != null}" class="panel-body">
                <div>Suggested daily intake of calories: <b th:text="${userDetails.dailyCalories}"></b> kcal</div>
                <br/>
                <div>Your latest weight: <b th:text="${latestWeight.weight}"></b> kg</div>
                <div>Your dream weight: <b th:text="${userDetails.dreamWeight}"></b> kg</div>
                <div>Your activity level: <b th:text="${userDetails.activityLevel.name}"></b></div>
                <br/>
                <div>You will achieve your dream weight on <b th:text="${successDate}"></b></div>
                <br/>
                <form th:action="@{/user/weight/history}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Show Weight History
                    </button>
                </form>
                <br/>
                <ul>Your preferences:
                    <li>cuisine type: <b th:text="${userDetails.cuisineType.name}"/></li>
                    <li>allergies and health issues:
                        <span th:if="${userDetails.healths.isEmpty()}">none</span>
                        <b th:each="health : ${userDetails.healths}">
                        <div th:text="${health.name}"></div>
                        </b>
                    </li>
                    <li>diets:
                        <span th:if="${userDetails.diets.isEmpty()}">none</span>
                        <b th:each="diet : ${userDetails.diets}">
                        <div th:text="${diet.name}"></div>
                        </b>
                    </li>
                </ul>
                <br/>
                <form th:action="@{/user/details/edit}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Edit User Details
                    </button>
                </form>
                <br/>
                <form th:action="@{/user/plan}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">Your Last Diet Plan
                    </button>
                </form>
                <br/>
                <form th:action="@{/user/plan/add}" method="get">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" type="Submit">New Diet Plan
                    </button>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>

