<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Logout
    </button>
</form>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="Welcome"></span> <span sec:authentication="name"></span>
            </div>
            <div th:if="${userParamsDto == null}" class="panel-body">
                <h3>What is your dream weight?</h3>
                <br/>
                <div class="row">
                    <div class="col-md-9">
                        <ul><b>Let us know you better so that we can:</b>
                            <li>suggest you a diet plan that suits your needs</li>
                            <li>show you when you will achieve your dream weight</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <form th:action="@{/user/params/add}" method="get">
                            <button class="btn" name="Submit" type="Submit">Add User Details
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:if="${userParamsDto != null}" class="panel-body">
                <div>Suggested daily intake of calories: <b th:text="${userParamsDto.dailyCalories}"></b> kcal</div>
                <br/>
                <div class="row">
                    <div class="col-md-5">
                        <div>Your recent weight: <b th:text="${latestWeightDto.weight}"></b> kg</div>
                        <div>Your dream weight: <b th:text="${userParamsDto.dreamWeight}"></b> kg</div>
                        <div>Your activity level: <b th:text="${userParamsDto.activityLevel.name}"></b></div>
                    </div>
                    <div class="col-md-5">
                        <form th:action="@{/user/weight/history}" method="get">
                            <button class="btn" name="Submit" type="Submit">Show Weight History
                            </button>
                        </form>
                    </div>
                </div>
                <br/>
                <div><b th:text="${successDate}"></b></div>
                <br/>
                <div class="row">
                    <div class="col-md-5">
                        <ul>Your preferences:
                            <li>cuisine type: <span th:if="${userParamsDto.cuisineType == null}">none</span>
                                <b th:if="${userParamsDto.cuisineType != null}"
                                   th:text="${userParamsDto.cuisineType.name}"/>
                            </li>
                            <li>allergies and health issues:
                                <span th:if="${userParamsDto.healths.isEmpty()}">none</span>
                                <b th:each="health : ${userParamsDto.healths}">
                                    <div th:text="${health.name}"></div>
                                </b>
                            </li>
                            <li>diets:
                                <span th:if="${userParamsDto.diets.isEmpty()}">none</span>
                                <b th:each="diet : ${userParamsDto.diets}">
                                    <div th:text="${diet.name}"></div>
                                </b>
                            </li>
                        </ul>
                    </div>
                    <br/>
                    <div class="col-md-5">
                        <form th:action="@{/user/params/edit}" method="get">
                            <button class="btn" name="Submit" type="Submit">Edit User Parameters
                            </button>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-5">
                        <form th:action="@{/user/plan/new}" method="get">
                            <button class="btn btn-primary" name="Submit" type="Submit">New Diet Plan
                            </button>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <form th:if="${isPlanComplete == true}" th:action="@{/user/plan/load}" method="get">
                            <button class="btn" name="Submit" type="Submit">Your Last Diet Plan
                            </button>
                        </form>
                    </div>
                </div>
                <br>
                <form th:action="@{/user/call}" method="get">
                    Need professional advice? Start video call with our Dietitian
                    <button id="register" class="btn" name="Submit" type="Submit">Go To Video Call
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

